a{
    text-decoration: none
}
li,ol,ul{
    list-style: none;
}
a,span,b,div,ul,li,ol{
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
.c-c{
    width: 1120px;
    margin: 0 auto;
}
body{
    font-size: 18px;
}

@media (max-width: 767px) {
    body{
        font-size: 15px;
    }
  }
@media (max-width: 1280px) {
    .c-c {
      width: 980px;
    }
  }
@media (max-width: 980px) {
    .c-c {
        width: 100%;
    }
}

.subtitle.title h6{
    text-align: center;
}
.subtitle.title h6.s-line{
    font-size: 36px;
}
@media (max-width: 980px) {
    .subtitle.title h6.s-line{
        font-size: 29px;
    }
}
@media (max-width: 525px) {
    .subtitle.title h6.s-line{
        font-size: 20px;
    }
}
.full-block{
    height: 100vh;
}
.full-block .full-block-overlay{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.full-block .full-block-overlay .center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
/* 继承主页样式 */
.container {
    min-height: 100vh;
  }
  .video-container{
    width: 100%;
    height: 100vh;
    background: url('~/assets/index.jpg') center;
    background-size: cover;
  }
  .overlay{
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;
    z-index: 1;
    background: -webkit-linear-gradient(218deg,#000,#c7c7c7,#000);
    background: -o-linear-gradient(218deg,#000,#c7c7c7,#000);
    background: linear-gradient(232deg,#000,#c7c7c7,#000);
    background-size: 600% 600%;
    -webkit-animation: wipe 15s ease infinite;
    -o-animation: wipe 15s ease infinite;
    animation: wipe 15s ease infinite;
  }
  .home-banner{
    width: 100%;
  }
  @-o-keyframes wipe{
    0%{
      background-position:0 97%
    }
    50%{
      background-position:100% 4%
    }100%{
      background-position:0 97%
    }
  }
  @keyframes wipe{
    0%{
      background-position:0 97%
    }
    50%{
      background-position:100% 4%
    }
    100%{
      background-position:0 97%
    }
  }
  .title{
    margin-top: 240px;
    color: white;
    padding: 0 12px;
  }
  .title p {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  h6{
    font-size: 72px;
    font-family: kings-caslon-display,Garamond,"Times New Roman",serif;
  }
  @media (max-width: 980px) {
    h6 {
      font-size: 58px;
    }
  }
  @media (max-width: 525px) {
    h6 {
      font-size: 40px;
    }
    .title p {
      font-size: 12px;
    }
  }
  h6.f-line{
  }
  h6.s-line{
    text-align: right;
  }
  .block{
    padding: 60px 12px;
    line-height: 2em;
    text-align: center;
  }
  .block a{
    display: block;
    color: #000;
    width: 200px;
    margin: 0 auto;
    border: 4px solid #c7c7c7;
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
  }
  .block a:hover{
    background: black;
    color: #fff;
    transition: all .3s ease-in-out;
  }
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.2);
    color: #fff;
    z-index: 100;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 18.75vw;
    overflow: hidden;
  }
  .card-img-overlay::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(0,0,0,.5);
  }
  .card-img-overlay h4{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .advantage{
    padding: 80px 40px;
  }
  .advantage p{
    font-size: 15px;
    line-height: 1.8em;
    margin-top: 1em;
  }
  @media (max-width: 767px) {
      .advantage p{
          font-size: 12px;
      }
      .advantage{
        padding: 30px 12px;
      }
    }
/* 文图分离样式 */
.splitarea{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.splitarea .splitarea-img{
    height: 100%;
    flex: 1;
    background: url('~assets/class3.jpg') center no-repeat;
    background-size: cover;
}
.splitarea .splitarea-word{
    height: 100%;
    flex: 1;
    padding: 40px;
}
.splitarea .splitarea-word h3 {
    font-size: 38px;
    margin-bottom: 1em;
}
@media (max-width: 980px) {
    .splitarea .splitarea-word h3 {
        font-size: 20px;
    }
  }
@media (max-width: 525px) {
    .splitarea .splitarea-word h3 {
        font-size: 18px;
    }
}
.splitarea .splitarea-word .word-warp{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translate(0 -50%);
    line-height: 2em;
}
@media (max-width: 767px) {
    .splitarea{
        flex-direction: column;
    }
    .splitarea .splitarea-img{
        height: 50%;
    } 
    .splitarea .splitarea-word{
        padding: 20px;
    }
    .splitarea .splitarea-word .word-warp{
        line-height: 1.5em;
    }
}